# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules

# testing
coverage

# production
build
types
dist

# misc
.DS_Store
.cache
.eslintcache
.opt-in
.opt-out
dist
_tmp

npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log
*.tsbuildinfo
