* {
  box-sizing: border-box;
}

html {
  font-family: var(
    --wp-g2-font-family,
    Inter,
    Cabin,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    sans-serif
  );
  font-size: 16px;
  line-height: 1.5;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  background-color: var(--wp-g2-surface-color, var(--wp-g2-white));
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-top: 80px;
  color: var(--wp-g2-color-text, #050505);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.2em;
}

h1 {
  font-size: 2.8rem;
  font-weight: 500;
}

h2 {
  font-size: 2rem;
  font-weight: 600;
}

h3 {
  font-size: 1.85rem;
  font-weight: 600;
}

h4 {
  font-size: 1.6rem;
  font-weight: 600;
}

h5 {
  font-size: 1.2rem;
}

h6 {
  font-size: 1rem;
}

code,
pre,
tt {
  font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
}

pre {
  color: rgb(214, 222, 235);
  background-color: rgb(1, 22, 39);
  font-size: 0.85rem;
  padding: 10px;
  border-radius: 6px;
}

pre code {
  background: transparent;
  padding: 0;
}

pre.prism-code {
  padding: 10px;
  border-radius: 6px;
  margin-bottom: 2em;
}

code {
  padding: 0.2em 0.4em;
  margin: 0;
  font-size: 0.85rem;
  background-color: rgba(27, 31, 35, 0.05);
  border-radius: 6px;
}

a {
  color: var(--wp-g2-color-admin, var(--wp-g2-blueberry));
  text-decoration: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  display: table;
  font-size: 90%;
  margin: 0;
  max-width: 100%;
  overflow: auto;
  width: 100%;
}

table tr {
  background-color: var(--wp-g2-surface-background-color);
  border-top: 1px solid #c6cbd1;
}

table th {
  text-align: left;
}

table td,
table th {
  padding: 6px 13px;
  border: 1px solid #dfe2e5;
}

table tr:nth-child(2n) {
  background-color: #f6f8fa;
}
table tbody tr:hover {
  background-color: var(--wp-g2-blue-rgba-10);
}
