.LayoutsDocsWrapper {
  padding: 20px;
}

.LayoutsDocsWrapperPage {
  max-width: 1080px;
  margin: auto;
}

.LayoutsDocsWrapperContent {
  display: grid;
  grid-template-columns: 240px minmax(0, 1fr);
  grid-gap: 48px;
}

.LayoutsDocs {
  font-size: 1rem;
}

.LayoutsDocs > * + * {
  margin-top: 1.5em;
}

.LayoutsDocs > h2,
.LayoutsDocs > h3,
.LayoutsDocs > h4,
.LayoutsDocs > h5,
.LayoutsDocs > h6 {
  margin-top: 2em;
}

.LayoutsDocs > p {
  margin-top: 1em;
}

.LayoutsDocs ul li {
  margin-bottom: 0.5em;
}
