.LayoutsDocs {
  font-size: 1rem;
}

.LayoutsDocs > * + * {
  margin-bottom: 1.25rem;
}

.LayoutsDocs h1 {
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
}

.LayoutsDocs h1 a.anchor,
.LayoutsDocs h2 a.anchor,
.LayoutsDocs h3 a.anchor,
.LayoutsDocs h4 a.anchor,
.LayoutsDocs h5 a.anchor,
.LayoutsDocs h6 a.anchor {
  position: absolute;
  opacity: 0;
  transform: translate(-100%, -10%);
  padding: 0 8px;
  transition: all 120ms linear;
}

.LayoutsDocs h1:hover a.anchor,
.LayoutsDocs h2:hover a.anchor,
.LayoutsDocs h3:hover a.anchor,
.LayoutsDocs h4:hover a.anchor,
.LayoutsDocs h5:hover a.anchor,
.LayoutsDocs h6:hover a.anchor {
  opacity: 1;
}

.LayoutsDocs h2[id],
.LayoutsDocs h3[id],
.LayoutsDocs h4[id],
.LayoutsDocs h5[id],
.LayoutsDocs h6[id] {
  margin-top: -20px;
  padding-top: 40px;
}

.LayoutsDocs [data-table] + h2[id],
.LayoutsDocs [data-table] + h3[id],
.LayoutsDocs [data-table] + h4[id],
.LayoutsDocs [data-table] + h5[id],
.LayoutsDocs [data-table] + h6[id] {
  margin-top: 0px;
}

.LayoutsDocs h1 a.anchor {
  opacity: 0 !important;
  pointer-events: none;
}

.LayoutsDocs > h2,
.LayoutsDocs > h3,
.LayoutsDocs > h4,
.LayoutsDocs > h5,
.LayoutsDocs > h6 {
  margin-top: 2.8rem;
}

.LayoutsDocs > p {
  margin-top: 1em;
}

.LayoutsDocs ul li {
  margin-bottom: 0.5em;
}

.LayoutsDocs [data-table] table {
  font-size: 0.9rem;
}
